@font-face {
    font-family: playful;
    src: url(Stay_Playful.ttf);
    }

@font-face {
    font-family: Arcade;
    src: url(ARCADECLASSIC.TTF);
    }
*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif; 
}

.wrapper{
    margin: auto;
    width: 1100px;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800px;
    float: left;
    font-weight: bold;
    color: #364F6B;
}

.menu{
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #DEFCF9;
    z-index: 1;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
    
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364F6B;
}

h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364F6B;
    width: 100%;
    line-height: 50px;
}

a.tmbl-biru{
    background: #83A2FF;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 12px 15px 12px;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

a.tmbl-biru:hover{
    background: #A3B763;
    text-decoration:none;
}

a.tmbl-pink{
    background: #FC5185;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 12px 15px 12px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-decoration:none;
}

a.tmbl-pink:hover{
    background: #A3B763;
    text-decoration:none;
}

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah{
    text-align: center;
    width: 100%;
}

.news-List{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.news-picture{
    width: 20%;
    margin: 0 auto;
}

.news-picture img{
    width: 100%;
    border-radius: 10px;
}

.news-picture p{
    font-family: 'comic sans ms';
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #364F6B;
}

.news-List .conf-button{
    text-align: center;
    margin: 80px 0px 0px 0px;
}

#aboutUs{
    background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section{
    width: 20%;
    margin: 0 auto;
}

h3{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364F6B;
    width: 100%;
    line-height: 50px;
}

#copyright{
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 20px;
}

@media screen and (max-width: 991.98px){
    .wrapper{
        width: 90%;
    }

    .logo a{
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu{
        width: 100%;
        margin: 0;
    }

    nav .menu ul{
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li{
        display: inline-block;
        float: none;
    }

    section{
        display: block;
    }
    section img{
        display: block;
        width: 100%;
        height: auto;
    }

    .news-picture{
        width: 50%;
    }
}