<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Create New Course</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-warning bg-gradient navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Course</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/Dashboard_Teacher}">Home</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Create New Course </h1>
            <div class = "card-body">
                <form th:action="@{/materials/{id}(id=${course.id})}" th:object = "${material}" method="POST">

                    <div class ="form-group">
                        <label> id </label>
                        <input
                                type = "text"
                                name = "id"
                                th:field = "*{id}"
                                class = "form-control"
                                placeholder="Enter material id"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Name </label>
                        <input
                            type = "text"
                            name = "name"
                            th:field = "*{name}"
                            class = "form-control"
                            placeholder="Enter material Name"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Description </label>
                        <textarea rows="20" cols="55"
                                  type = "text"
                                  name = "description"
                                  th:field = "*{description}"
                                  class = "form-control"
                                  placeholder="Enter Material Description"
                        >
                        </textarea>
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>