<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> 
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" th:href="@{css_and_font\style.css}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Learning Management System</title> 
</head>
<body>
    <!-- navigasi -->
    <nav>
        <div class="wrapper">
            <div class="logo"><a href="">Edufy</a></div>
            <div class="menu">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#aboutUs">About Us</a></li>
                    <li><a href="#search">Search</a></li>
                    <li><a href="#log-in" class="tmbl-biru">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <!-- Home 1 -->
        <section id="home">
            <img src="image\web-development-programmer-engineering-coding-website-augmented-reality-interface-screens-developer-project-engineer-programming-software-application-design-cartoon-illustration\19362653.jpg" 
            width="650" height="430">
            <div class="kolom">
                <p class="deskripsi">Belajar Layaknya Bermain #BelajarDimanaAja</p>
                <h2>Tetap sehat, Tetap Semangat</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, reiciendis.</p>
                <p><a href="" class="tmbl-pink">Pelajari Lebih Lanjut</a></p>
            </div>
        </section>
        <!-- home 2 -->
        <section>
            <div class="kolom">
                <p class="deskripsi">Temukan bakat dan minat anak #TerusBerkembang</p>
                <h2>You'll need this</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora, veritatis.</p>
                <p><a href="" class="tmbl-pink">Pelajari Lebih Lanjut</a></p>
            </div>
            <img src="image\data-inform-illustration-concept\3156627.jpg" 
            width="650" height="430">
        </section>
        <!-- untuk News -->
        <section id="news">
            <div class="tengah">
                <div class="kolom">
                    <p class="deskripsi">Latest News</p>
                    <p>//In development//</p>
                </div>

                <div class="news-List">
                    <div class="conf-button">
                        <i class="fa-solid fa-chevron-left fa-2xl"></i>
                    </div>
                    <div class="news-picture">
                        <img src="image\sch-act1.jpeg" width="190" height="180">
                        <p>act-1</p>
                    </div>
                    <div class="news-picture">
                        <img src="image\sch-act2.jpg" width="190" height="180">
                        <p>act-2</p>
                    </div>
                    <div class="news-picture">
                        <img src="image\sch-act3.png" width="190" height="180">
                        <p>act-3</p>
                    </div>
                    <div class="news-picture">
                        <img src="image\sch-act4.jpg" width="190" height="180">
                        <p>act-4</p>
                    </div>
                    <div class="conf-button">
                        <i class="fa-solid fa-angle-right fa-2xl"></i>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <div id="aboutUs">
        <div class="wrapper">
            <div class="footer">
                <div class="footer-section">
                    <h3>About</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, inventore!</p>
                </div>
                <div class="footer-section">
                    <h3>Contact</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, inventore!</p>
                </div>
                <div class="footer-section">
                    <h3>Social</h3>
                    <p><b>Youtube :</b>test1</p>
                </div>
                <div class="footer-section">
                    <h3>Address</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, inventore!</p>
                </div>
            </div>
        </div>
    </div>
    <div id="copyright">
        <div class="wrapper">
            &copy; 2023. <b>Kelompok7</b> All Rights Reserved.
        </div>
    </div>
    <!-- <h1 th:text ="${msg}"></h1> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->
</body>
</html>